<div ng-controller="AboutUsController">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div>“我们是全省的用电大户。通过电厂直供电，我们能享受比目录电价低一毛钱的优惠电价，这意味着我们每生产一吨电解锰能节省600块钱成本。”</div><br/><br/>
            <div>省人大代表、松桃汇丰锰业公司董事长付平英提供了这样一组数据。作为一家年产电解锰3万吨的企业，电价优惠意味着每年1800万用电成本就省下来了。再加上帮助企业降低物流成本和融资成本的配套政策，企业切实感受到了实惠。</div><br/><br/>
            <div>说起刚过去2016年，付平英说：“最主要的心情就是振奋。”在她看来，政府在大力发展经济和大力保护生态上所做的工作对贵州发展尤为重要，也与她的企业密切相关。</div><br/><br/>
            <img style="margin:20px auto;" src="http://www.ddcpc.cn/uploadfile/2017/0121/20170121095634811.jpg"/>
            <div>在政府支持实体经济发展的各项工作中，付平英认为最显著的变化就是软环境越来越好。她口中的软环境包括了政策支持、政府工作效率等方面，其中最重要的则是“对贪污腐败的零容忍”和“对政府不作为、慢作为、乱作为的整治”。付平英说，政府为企业打造一个好的软环境，才有利于企业持续健康发展。</div><br/><br/>
            <div>同时，供给侧结构性改革带来的红利也是促进企业发展的重要因素，成本降下来了，就能更好地投入转型升级中去。付平英介绍，在去年投入大笔资金进行升级改造的基础上，今年企业还将继续对设备进行升级，这也是为了进一步降低能耗、提升环保效能、打造循坏经济。 “这也是积极响应贵州大生态战略的举措。”付平英说。</div><br/><br/>
            <div>除了生产设备的提质升级，付平英还希望对整个企业的电力系统进行升级，据她说这可以让电费成本再降低6分钱。“对我们这样一个每年支出电费近2亿的企业来说，这是接下来最重要的发展目标。我们自己提供资金，但更需要政府的引导和支持。”付平英告诉记者。可以说，企业发展的难点和痛点，正是贵州供给侧结构性改革的重点，也是倒逼改革的重要路径。</div><br/><br/>
            <div>一方面把企业经营得风生水起，一方面付平英又对带动家乡发展倾注了不少心血。“我们是松桃、铜仁的重点企业，也是贵州的重点企业。”这是付平英反复强调的一句话。既然是重点企业，自然也有重点企业的社会责任和担当。“我们企业发展从小到大的过程离不开国家的扶持。政府通过各种政策拉动产业发展，产业发展起来就能带动大家奔小康。”</div><br/><br/>
            <div>付平英介绍，自己的企业提供了超过1500个就业岗位，当地百姓在企业中工作，平均能拿到2000至3000元的工资，“一户有一人就业，就是一户成功脱贫。”付平英说，除了提供就业岗位，她还开办了一家以锰粉加工为主的福利企业，解决了40多名残疾人的就业问题。</div><br/><br/>
            <div>对于2017年，付平英说：“我感觉到这还会是取得大发展的一年。我充满信心！”</div><br/><br/>
        </div>
    </div>
</div>
