<div ng-controller="AboutUsController">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="paragrah_divider"></div>
            <div class="plain_text"><span class="color_text">贵州省松桃汇丰锰业有限公司</span>位于黔、湘、渝二省一市交界处，且享有“锰都”之称的松桃县城，迓大二级公路从公司旁边通过。距渝怀铁路松桃站30km，距铜仁飞机场50km，交通十分便捷，公司依托当地丰富的锰矿资源及能源优势，专业生产<span class="color_text">电解金属锰</span>。目前，年产量将达<span class="color_text">5万多吨</span>，产值将近<span class="color_text">6亿元人民币</span>，产品广泛用于治金、化工、医学、磁性材料，电子通讯等领域。</div>
            <div class="paragrah_divider"></div>
            <div class="plain_text">我公司是一家拥有自营进出口权的民营企业，始建于2004年07月21日，2005年05月投产，现占地面积约21.8万㎡。到2012年底，公司总投资超过<span class="color_text">7亿元人民币</span>，是一家拥有含采矿、锰粉加工等产业的综合性企业。现有员工356人，拥有高级工程师及多名生产经验丰富的工程师、技术人员和管理人员，生产的产品纯度高，金属锰含量超过国标C、D级，达到<span class="color_text">99.83-99.88%</span>。</div>
            <div class="paragrah_divider"></div>
            <div class="plain_text">电解锰的生产及环保安全设施，锰渣库的建设均执行了<span class="color_text">“三同时”</span>，通过了铜仁市环保局的验收。</div>
            <div style="margin:20px auto;text-align:center;">
               <img id="introduction_img" src="http://www.ddcpc.cn/uploadfile/2017/0121/20170121095634811.jpg"/>
            </div>
            <div class="paragrah_divider"></div>
            <div class="plain_text">2009年07月，公司为扩大生产，竞标购买了国企贵州省松桃电解锰厂（现在汇丰锰业公司的麻旦分厂）。2011年05月开始筹备建设年产1.0亿块锰渣蒸压砖生产线，于2012年09月建成。为此，企业形成了一个资源综合利用的<span class="color_text">循环经济体系</span>。</div>
        </div>
    </div>
</div>
