<div class="col-md-12">
    <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 resume_home-content">
        <div class="desbox">贵州省松桃汇丰锰业有限公司，成立于2006年05月24日，法人代表为付平英，注册资本1228万元人民币，企业邮箱630805271@qq.com，联系电话0856-2832257。贵州省松桃汇丰锰业有限公司主要经营范围有电解金属锰，金属锰锭、金属锰粉加工、销售，金属材料、建筑材料（不含木材）加工、购销，化工原料（不含危险品）购销，对外出口贸易，锰矿开采（筹建）（筹建期不能从事经营活动）（以上经营范围须行政许可的，凭有效行政许可经营）。</div><br/><br/>

        <div class="desbox">贵州省松桃汇丰锰业有限公司，成立于2006年05月24日，法人代表为付平英，注册资本1228万元人民币，企业邮箱630805271@qq.com，联系电话0856-2832257。贵州省松桃汇丰锰业有限公司主要经营范围有电解金属锰，金属锰锭、金属锰粉加工、销售，金属材料、建筑材料（不含木材）加工、购销，化工原料（不含危险品）购销，对外出口贸易，锰矿开采（筹建）（筹建期不能从事经营活动）（以上经营范围须行政许可的，凭有效行政许可经营）。</div>
    </div>
</div>