<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 resume_home-content">
        <div class="paragrah_divider"></div>
        <div class="plain_text">我们在致力发展生产的同时，将牢固树立<span class="color_text">环保优先</span>的理念，自觉承担社会道义和责任，遵守环保法律法规。本企业郑重承诺：</div>
        <div class="plain_text">一、加强环保宣传教育和培训，提高企业干部职工的环保意识，设置专(兼)职的环保机构，配备专职的环保人员。</div>
        <div class="plain_text">二、严格执行环境影响评价和<span class="color_text">“三同时”</span>制度，主动拆除与环评审批规模不符的生产设备，从淘汰落后产能，提升生产工艺技术上着手，减少污染物排放，确保治污设施与生产能力相匹配。</div>
        <div class="plain_text">三、建立规范化排污口，积极开展自查，不偷排、漏排，若有违法偷排现象，自愿接受包括停产整顿内容在内的各种处罚。</div>
        <div class="plain_text">四、遵守排污许可制度，按时交纳排污费等依法应交纳的费用。严格控制排污总量，服从环保部门的监督。</div>
        <div class="plain_text">五、加强突发性环境污染事故应急管理，制定并落实污染事故应急预案，定期组织开展应急演练。若出现污染事故，引发群体性事件的，除承担相应责任外，愿主动接受处罚，并积极配合相关部门做好事故善后处理，最大限度消除影响。</div>
        <div class="plain_text">六、建立长效机制，经得起检查。对环保工作常抓不懈、一抓到底，形成长效管理机制，经得起各级环保部门任何形式的检查。</div>
        <div class="plain_text"><span class="color_text">这是我们向社会做出的庄严承诺，敬请社会各界予以监督。</span></div>
    </div>
</div>