<div ng-controller="JobsController">
	<div class="row jobspage" >
	    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
      	<h4 style="margin-top:30px;">会计师</h4>
            <div class="paragrah_divider"></div>
      	<p>岗位职责:</p>
      	<ol>
             <li>根据规定的成本、费用开支范围和标准，审核原始凭证的<span class="color_text">合法性、合理性和真实性</span></li>
             <li><span class="color_text">独立</span>编制记账凭证，负责账薄登记工作</li>
             <li>进行账账、账实核对，编制会计报表，定期报送报表</li>
      	</ol>
            <div class="paragrah_divider"></div>
      	<p>任职条件:</p>
      	<ol>
             <li><span class="color_text">有一定的财务工作经验者</span>优先，无工作经验公司提供相关培训。</li>
             <li>获得相关<span class="color_text">会计从业资格证书</span>。</li>
             <li>会基本电脑知识，打字速度快。</li>
             <li>形象端正，性格开朗、喜欢与人沟通。</li>
             <li>学习能力强，有吃苦耐劳、努力进取的精神，团队意识强。</li>
             <li>善于学习、诚实敬业，做事耐心细致、稳定、踏实。</li>
             <li>全职工作；<span class="color_text">责任心强</span>；能够承受一定的工作压力。</li>
             <li>身体健康，无慢性疾病及先天性疾病。</li>
             <li><span class="color_text">热爱生活，乐观向上。</span></li>
      	</ol>
	    </div>
	</div>
</div>

