<div ng-controller="JobsController">
	<div class="row" >
	    <div class="col-sm-offset-1 col-sm-10">
            <div class="jobsbox">
            	<h4>会计师</h4><br/><br/>

            	<p>岗位职责:</p>
            	<ol>
                   <li>根据规定的成本、费用开支范围和标准，审核原始凭证的合法性、合理性和真实性</li>
                   <li>独立编制记账凭证，负责账薄登记工作</li>
                   <li>进行账账、账实核对，编制会计报表，定期报送报表</li>
            	</ol>

            	<p>任职条件:</p>
            	<ol>
                   <li>有一定的财务工作经验者优先，无工作经验公司提供相关培训。</li>
                   <li>获得相关会计从业资格证书。</li>
                   <li>会基本电脑知识，打字速度快。</li>
                   <li>形象端正，性格开朗、喜欢与人沟通。</li>
                   <li>学习能力强，有吃苦耐劳、努力进取的精神，团队意识强。</li>
                   <li>善于学习、诚实敬业，做事耐心细致、稳定、踏实。</li>
                   <li>全职工作；责任心强；能够承受一定的工作压力。</li>
                   <li>身体健康，无慢性疾病及先天性疾病。</li>
                   <li>热爱生活，乐观向上。</li>
            	</ol>
            </div>
	    </div>
	</div>
</div>

