<div ng-controller="ProductsController">
   <div class="row">
		<div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 projects" style="margin-top:30px;">
            <h3>电解锰生产工艺流程简介</h3>
            <div class="plain_text">电解锰生产工艺流程主要分为：制粉、制液、压滤、电解、后处理五大部分，其中包括：磨粉、浸出、氧化、中和除铁、固液分离、硫化、压滤、电解，以及钝化（有铬）、漂洗、干燥、剥离、计量包装、洗板、清槽、抛光等后处理工序。</div>
            <div class="paragrah_divider"></div>
            <h4>一、制粉</h4>
            <div class="plain_text">碳酸锰矿由汽车运至有矿棚的粗矿坪堆放，由铲车铲入2台颚式破碎机进行破碎至40mm以下，破碎后的矿石堆放在有矿棚的细矿坪。再用铲车将细矿石铲入细矿料仓，由皮带输送进入雷蒙制粉机。制粉工序由4台（6R）雷蒙机组成，制粉磨得的合格碳酸锰粉(90±5目)经脉冲除尘器除尘后，由刮板输送机输入碳酸锰粉贮仓。</div>
            <div class="paragrah_divider"></div>
            <h4>二、制液</h4>
            <div class="plain_text">制粉工序的碳酸锰粉经过计量后送入浆化桶，加入阳极液进行浆化，再把浆化液泵入浸出槽（V=350m3，8台），同时加入一定量的硫酸和阳极液进行浸出（浸出温度800C-900C）。浸出主反应式如下：<br/>
			MnCO3+H2SO4＝MnSO4+H2O+CO2↑<br/>
			MnO+H2SO4＝MnSO4+H2O<br/>
			反应所需的热量由碳酸锰粉和阳极液及硫酸反应放热以及硫酸的稀释热提供。浸出反应完成后，再通过罗茨鼓风机加入空气对二价铁进行氧化处理，反应式如下：<br/>
			2FeSO4+1/2O2+H2SO4=Fe2(SO4)3 +2H2O<br/>
			最后加入适量氨水以调节溶液pH值进行中和反应，反应式如下：<br/>
			Fe2(SO4)3+6(NH4)OH=3(NH4)2SO4+2Fe(OH)3↓<br/>
			浸出槽的浸出周期为8h，其中加料时间为1h，浸出反应时间为4h，氧化时间为1h，中和时间为1h，出料时间为1h。浸出温度约为80-90℃，液固比8～10：1，控制浸出中和的终点pH=6.4-6.6。合格的浸出液通过溜槽流入到浸出液中转槽再泵至压滤工序。</div>
			<div class="paragrah_divider"></div>
            <h4>三、压滤</h4>
            <div class="plain_text">浸出液经中转槽用泵送至压滤车间，由400m2高压隔膜压滤机进行压滤。含水率在21-24%的滤渣直接卸入渣车内，用汽车运往锰渣库或锰渣制砖厂。
			压滤后的滤液同时加入适量的SDD溶液（浓度为3～5%）进行硫化作业，以除去溶液中的重金属杂质，硫化反应式如下：<br/>
			MnS+NiSO4=NiS↓+MnSO4<br/>
			MnS+CoSO4=CoS↓+MnSO4<br/>
			MnS+CuSO4=CuS↓+MnSO4<br/>
			MnS+PbSO4=PbS↓+MnSO4<br/>
			净化后的一次压滤液用泵送至二次压滤机进行压滤，滤液经溜槽自流到新液高位池，并根据工艺要求加入SeO2。
			满足电解生产要求的新液质量如下：<br/>Mn=35～38g/L；<br/>Fe≤0.0005g/L；<br/>Co≤0.0005g/L；<br/>Ni≤0.0005g/L；<br/>(NH4)2SO4=100±20g/L；<br/>Si≤4mg/L。</div>
			<div class="paragrah_divider"></div>
            <h4>四、电解</h4>
            <div class="plain_text">来自新液高位槽中的新液经溜槽进入电解槽进行电解作业，槽温控制在38～44℃，阴极电流密度350～380A/m2，槽电压4.2～4.4V，同极距60mm左右，阴极锰析出周期24h。并加入少量亚硫酸铵添加剂以利于电解作业稳定，加入氨水以调节pH值。通过在电解槽中产生的热量以维持正常的电解温度，在电解槽内设有冷却管。冷却水进入温度约为28℃左右，出水温度34～36℃，冷却水量1.8～2.0t/槽·h。电解时，电解液不断加入，阳极液自流到阳极液贮槽。<br/>
            电解金属锰过程是一个还原过程，产品沉积在阴极板上，经过24小时沉积厚度达1.5～2.5mm，取下阴极板（同时插入经过处理的新阴极板继续电解），由后处理进行后，再经过产品检验、产品计量包装入库。</div>
            <div class="paragrah_divider"></div>
            <h4>五、后处理</h4>
            <div class="plain_text">后处理是电解之后处理电解金属锰成品的一系列操作，包括钝化、漂洗、烘干、剥落、包装以及极板处理等步骤。<br/>
			钝化：从电解槽中取出的沉积了金属锰的阴极板，在沥干电解液后，放入含重铬酸钾3%的水溶液中进行钝化处理，使金属表面形成钝化膜层，防止或减缓金属锰在空中的氧化。<br/>
			漂洗、水洗：将钝化处理后的阴极板沥干钝化液，放入热水槽浸泡、冲洗、再浸泡；除去金属锰表面粘附的电解液和钝化液；水洗的目的是洗去金属锰表面上粘附的电解液、钝化液等溶液，反复冲洗直至冲洗干净为止。<br/>
			烘干：将水洗干净的阴极板置入电烘房烘烤，烘烤温度80-110℃，烘烤时间15-20分钟。<br/>
			剥落：剥落就是将金属锰成品与阴极板分离，按照外观质量分级剥落。<br/>
			包装：产品剥落完，取样送检，然后按产品外观质量分别装袋、称重、包装。<br/>
			阴极板处理：将剥离后的阴极板放入阳极液中浸泡，溶去阴极板残锰，然后放入洗液（重铬酸钾溶液等）中浸泡1分钟，取出后用新水洗净，表面光亮平整的阴极板返回使用，表面发毛发白的阴极板晾干后送抛光室抛光处理。<br/>
			抛光：以磷酸和硫酸为电解液，以葡萄糖为光亮剂，在直流电作用下，发生阳极溶解反应，使阴极板表面平整光亮。</div>
	    </div>
   </div>
</div>